/* about.module.css */

.vm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  align-items: center;
  margin-left: 80px;
  margin-top: 20px;
}

.vm__h1 {
  color: #1f65ff;
  font-size: 25px;
  font-weight: 300;
}

.vm__line {
  border-bottom: 2px solid grey;
  width: 100%;
  margin-bottom: 10px;
}

.vm__p {
  color: #777;
  position: relative;
  left: 15px;
  text-align: justify;
}

/* Responsive styles for medium-sized devices */
@media (max-width: 768px) {
  .vm {
    margin-left: 20px;
  }

  .vm__h1 {
    font-size: 20px;
  }

  .vm__p {
    left: 0;
  }
}

/* Responsive styles for small-sized devices */
@media (max-width: 480px) {
  .vm {
    margin-left: 25px;
    margin-top: 10px;
    width: 200px;
  }

  .vm__h1 {
    font-size: 18px;
  }
}
