.office-container {
  display: flex;
  justify-content: space-around;
  background-color: #4070a7;
  color: white;
  padding: 20px 0px;
  margin-top: 2rem;
}

.office-info {
  margin-right: 50px;
}

.office-info h2 {
  font-size: 20px;
}

.office-info p {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .office-container {
    display: flex;
    flex-direction: column;
  }
  .office-info {
    width: 85%;
    margin: 0.7rem auto;
  }
}
