.navbar {
  background-color: #e3f2fd;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navItem {
  margin-left: 4rem;
}

.navLink {
  color: #302f2f;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.navbarBrand {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 4rem;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 1300px) {
  .navbar {
    width: 100%;
  }

  .navItem {
    margin-left: 3rem;
  }
}

@media (max-width: 1200px) {
  .navbar {
    width: 100%;
  }

  .navItem {
    margin-left: 2rem;
  }
}

@media (max-width: 1060px) {
  .navbar {
    padding-right: 5%;
  }

  .navItem {
    margin-right: 5%;
  }
}
@media (max-width: 755px) {
  .navbar {
    padding-right: 5%;
  }

  .navItem {
    margin-right: 10%;
  }
}
@media (max-width: 455px) {
  .navbar {
    width: 120%;
  }
}

@media (max-width: 320px) {
  .navbar {
    width: 120%;
  }
}
